* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

* {
    // border: 2px solid green;
}
body {
    background-image: url(../img/backgroundpatern-1.png);
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw; // max-width: 1000px;
    .row {
        // border: 1px solid blue;
        &:after,
        &:before {
            content: ' ';
            display: block;
            clear: both;
        }
        [class*='col-'] {
            float: left;
            min-height: 150px;
            box-sizing: border-box;
        }
        @for $i from 1 through 8 {
            .col-#{$i} {
                width: 13% * $i;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border-top: 9px solid red;
    // border-left: 9px solid red;
    // border-right: 9px solid red; 
    // border-left: 8px dashed goldenrod;
    // border-right: 8px dashed goldenrod;
    // background-color: red;
}

.first {
    align-items: stretch;
    flex-grow: 4;
    border-top: 9px dashed goldenrod;
    border-left: 9px dashed goldenrod;
    border-right: 9px dashed goldenrod;
    border-bottom: 18px solid red;
    background-color: red;
}

.second {
    display: flex;
    height: 150px;
    border-left: 9px dashed goldenrod;
    border-right: 9px dashed goldenrod;
    justify-content: space-between;
    // background-color: red;
}



section {
    width: 100%;
    height: 100vh;
    // border: 2px solid red;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P', cursive;
    color: goldenrod;
    font-size: 76px;
    transition: color 2s ease-out;
}

.title:hover {
    color: gold;
}
.second {
    justify-content: space-between;
.col-1 {
    display: flex;
    flex-direction: row;
    border-bottom: 9px dashed goldenrod;
    border-left: 9px dashed goldenrod;
    border-right: 9px dashed goldenrod;
    background-color: red;
}
}
.one {
    border-left: none;
}
.seven {
    border-right: none;
}
.one {
    padding-left: none;
}

.seven {
    padding-right: none;
}

.first-slide {
    background-color: #1E90FF;
    .row {
        display: flex;
        justify-content: space-around;
    }
}

.characterIntro {
    margin: 20px;
    border-top: 4px solid #bf9b30;
    border-left: 4px solid #bf9b30;
    border-right: 4px solid goldenrod;
    border-bottom: 4px solid goldenrod;
    background-color: #ffbf00;
    h2 {
        font-family: 'Press Start 2P', cursive;
        color: goldenrod;
        padding: 10px;
    }
}

.characterIntro:hover {
    background-color: goldenrod;
    border-top: 4px solid goldenrod;
    border-left: 4px solid goldenrod;
    border-right: 4px solid #bf9b30;
    border-bottom: 4px solid #bf9b30;
    h2 {
        color: gold;
    }
}

.characters {
    list-style-type: none;
    margin: 30px;
    li {
         display: inline-block;
    }
}
.charactersGallery div {
     display: none;
}
.frame1 img {
    display:none;
}
.frame2 img {
    display:none;
}
.frame3 div {
    display:none;
}
.frame4 div {
    display:none;
}
.frame5 div {
    display:none;
}
.selected {
    background-color:  gold;
}
.visible {
    display: block;
}
.nonvisible {
    display: none;
}
.introductionTitle {
    color: goldenrod;
    display: block;
    font-size: 38px;
    padding: 20px;
}
.row {
    h2 {
        color: brown;
    }
}
.scroll {
     background-image: url(../img/pergaminone-1.png);
    background-size: cover;
}
.second-slide {
    background-image: url(../img/pergaminonestart.png);
    background-size: cover;
}
.third-slide {
    background-image: url(../img/pergaminone-33.png);
    background-size: cover;
}
.fourth-slide {
    background-image: url(../img/pergaminone-33.png);
    background-size: cover;
}
.fifth-slide {
    background-image: url(../img/pergaminone-33.png);
    background-size: cover;
}
.sixth-slide {
    background-image: url(../img/pergaminonefinish.png);
    background-size: cover;
}
.pergamin1 {
    background-image: url(../img/ivyframe.png);
    background-size: cover;
    margin-bottom: 30px;
    margin-left: 110px;

    p {
        padding:150px 30px 40px 40px;
    }
}

.pergamin2 {
    background-image: url(../img/ivyframe.png);
    background-size: cover;
    margin-bottom: 30px;
    margin-left: 110px;
    p {
        padding:110px 30px 40px 40px;
    }
}
.pergamin3 {
    background-image: url(../img/ivyframe.png);
    background-size: cover;
    margin-bottom: 30px;
    margin-left: 110px;
    p {
        padding:100px 30px 40px 40px;
    }
}
.pergamin4 {
    background-image: url(../img/ivyframe.png);
    background-size: cover;
    margin-bottom: 30px;
    margin-left: 110px;
    p {
        padding:100px 30px 40px 40px;
    }
}
.pergamin5 {
    background-image: url(../img/ivyframe.png);
    background-size: cover;
    margin-bottom: 130px;
    margin-left: 110px;
    p {
        padding:100px 30px 40px 40px;
    }
}
.row {
        display: flex;
        align-items: center;
        justify-content: center;
    .col-2 {
        display: flex;
        align-items: center;
        justify-content: center;
}
}
.frame1 {
    background-image: url(../img/frame1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.frame2 {
    background-image: url(../img/frame2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.frame3 {
    background-image: url(../img/frame3.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.frame4 {
    background-image: url(../img/frame4.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.frame5 {
    background-image: url(../img/frame1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
span {
    color: darkgreen;
}
